li {
  cursor: pointer;
  display: inline;
  padding: 5px;
  outline: 1px gray dotted;
}

li:hover {
  background-color: lightblue;
}

img {
  cursor: pointer;
  height: 250px;
}

.stronger {
  font-style: italic;
  font-weight: bold;
}

.hideAdminArea {
  display: none;
}

.font-small {
  font-size: 0.87em;
}

.subtle {
  color: darkslategray;
}
